notifications:
  email:
    on_success: never
    on_failure: change

os:
  - linux
  - osx

language: node_js
node_js:
  - 10
  - 12

services:
  - docker

cache:
  directories:
  - node_modules

install:
  - node --version
  - npm install

script:
  - npm test

#
# We have our deployment set up to run on prebuild/node 12, and only run the
# upload step on tag builds. We set it up this way so prebuild branch builds
# will always check that the prebuilding is successful, and we don't end up with
# a nasty build failure surprise *after* having already tagged a build.
#
before_deploy:
  - npm run prebuild-node
  - npm run prebuild-electron

deploy:
  provider: script
  script: if [ -n "$TRAVIS_TAG" ]; then npm run upload; fi
  skip_cleanup: true
  on:
    all_branches: true
    node_js: '12'

sudo: required

git:
  depth: 10

env:
  global:
    - CC=clang CXX=clang++ npm_config_clang=1
